@import "../../settings";
.btn {
  background-color: var(--accent);
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  border-radius: 79px;
  padding: 21px 44px;
  color: var(--white);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: var(--light-blue);
  }

  &:disabled {
    background-color: var(--light-gray);
    color: var(--black);

    & .image {
      filter: invert(100%) sepia(12%) saturate(0%) hue-rotate(186deg) brightness(88%) contrast(94%);
    }
  }

  @include adpt($mtab-r) {
    padding: 21px;
  }
}

.image {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 12px;
}

.rounded {
  border-radius: 50%;
  padding: 20px;

  & .image {
    width: 19px;
    height: 19px;
    margin-left: 0;
  }
}