.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.item{
  font-weight: 300;
  &:not(:last-child){
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dashed rgba(63, 78, 101, 0.5);
  }
  transition: color 0.5s;
  &:hover{
    color: var(--accent);
  }
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}